
html, body, #root, .container
  width, height: 100%

body
  background-color: #eee
  margin: 0
  overflow-x: hidden
  font-family: 'Courier New'
  font-size: 15px

.container
  display: flex
  flex-direction: column

.nav-bar
  display: flex
  user-select: none
  .nav-ind
    width: 100%
    text-align: center
    line-height: 46px
    .inactive
      color: #ccc
  .nav-content
    padding: 8px
  .tooltip
    position: absolute
    transform: translateX(-50%)
    padding, border-radius: 5px
    background-color: #666
    color: #eee
    font-size: 12px
    &:after
      $size: 7px
      content: ''
      position: absolute
      width, height: 0
      border-width: $size
      border-style: solid
      border-color: transparent transparent #666 transparent
      top: -50%
      left: calc(50% - #{$size})
    &.inactive
      visibility: hidden

.bottom-container
  flex: 1
  display: flex
  margin: 0 35px 5px 35px

.panel
  display: flex
  flex-direction: column
  border: 1px solid #999
  outline: none
  .heading
    padding: 3px
    border-bottom: 1px solid #d5d5d5
    background: linear-gradient(0deg, #ddd, #fff)
  .body
    flex: 1
    overflow: hidden
    background: #fff

.text-row
  padding: 3px
  height: 16px

.funcs
  width: 200px
  .active
    background-color: #eee
  &.active .active
    color: #fff
    background-color: #39f

.cfg
  flex: 1
  margin: 0 10px
  border: 1px solid #999
  background: linear-gradient(0deg, #dff, #fff)
  overflow: hidden
  svg
    .node rect
      stroke: #333
      fill: #fff
    .edgePath path
      stroke: #333
      fill: #333
      stroke-width: 1.5px

.addrs
  width: 200px
  .gap
    color: #777
    background-color: #eee
