
html, body, #root, .container
  width, height: 100%

body
  background-color: #eee
  margin: 0
  overflow-x: hidden
  font-family: 'Courier New'
  font-size: 15px

.container
  display: flex
  flex-direction: column

.nav-bar
  display: flex
  user-select: none
  .nav-ind
    width: 100%
    text-align: center
    line-height: 46px
    .inactive
      color: #ccc
  .nav-content
    padding: 8px
  .tooltip
    position: absolute
    transform: translateX(-50%)
    padding, border-radius: 5px
    background-color: #666
    color: #eee
    font-size: 12px
    &:after
      $size: 7px
      content: ''
      position: absolute
      width, height: 0
      border-width: $size
      border-style: solid
      border-color: transparent transparent #666 transparent
      top: -50%
      left: calc(50% - #{$size})
    &.inactive
      visibility: hidden

.bottom-container
  flex: 1
  display: flex
  margin: 0 35px 5px 35px

.panel
  display: flex
  flex-direction: column
  border: 1px solid #999
  .heading
    padding: 3px
    border-bottom: 1px solid #d5d5d5
    background: linear-gradient(0deg, #ddd, #fff)
  .body
    flex: 1
    overflow: hidden
    background: #fff
    outline: none
    input
      width: calc(100% - 4px)
      display: block

.text-row
  padding: 3px
  height: 16px

.funcs
  width: 200px
  .text-row.active
    background-color: #eee
  .active .text-row.active
    color: #fff
    background-color: #39f

.cfg
  flex: 1
  margin: 0 10px
  border: 1px solid #999
  background: linear-gradient(0deg, #dff, #fff)
  overflow: hidden
  svg
    .node
      > rect
        stroke: #000
        fill: #fff
      rect.active
        fill: #ff0
      .label
        fill: #000080
        .size
          fill: #800000
        .integer
          fill: #008000
        .api
          fill: #ff00ff
        .var
          fill: #0080c0

    .edgePath
      stroke-width: 1.5px
      stroke, fill: #00f
      &.left
        stroke, fill: #0f0
      &.right
        stroke, fill: #f00
      &.back
        stroke, fill: #00d
        .left
          stroke, fill: #0d0
        .right
          stroke, fill: #d00

.addrs
  width: 200px
  .gap
    color: #777
    background-color: #eee
